@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap";
:root {
  --main-color: #feca57;
  --main-color-grad: linear-gradient(to right, #feca57 50%, transparent);
  --accent-color: #137cbd;
  --accent-color-shade: #71b0d7;
  --accent-color-grad: linear-gradient(to right, #137cbd 50%, transparent);
  --gray-color: #444;
  --white-color: #fffff0;
  --white-color-grad: linear-gradient(to bottom, #fffff0 25%, transparent);
}
::-webkit-scrollbar {
  width: 0;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  border: none;
  font-family: "Poppins", sans-serif;
}
input{
  font-family: "Poppins", sans-serif;
  padding-left: 3px;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.grid {
  display: grid;
  gap: 5rem;
}
.grid--2-col {
  grid-template-columns: repeat(2, 1fr);
}
.mb-5 {
  margin-bottom: 5rem;
}
.mt-5 {
  margin-top: 5rem;
}
.link,
.btn {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  display: inline-block;
  cursor: pointer;
}
.btn {
  border-radius: 10px;
  padding: 1.2rem 2.4rem;
  box-shadow: inset 0 0 0 3px var(--main-color);
  transition: all 0.3s ease-in-out;
}
.main-btn {
  font-size: 1.9rem;
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: 500;
  box-shadow: inset 0 0 0 1.5px var(--white-color);
}
.main-btn:hover {
  background-color: var(--white-color);
  color: var(--main-color);
  font-weight: 500;
  box-shadow: inset 0 0 0 1.5px var(--main-color);
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 8rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  background-color: var(--white-color);
  padding: 3.6rem 0;
}
.upper-header,
.lower-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-icons {
  font-size: 3rem;
  color: var(--accent-color);
  cursor: pointer;
}
.fa-house {
  color: var(--main-color);
}
.upper-header {
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--gray-color);
}
.logo {
  width: 5rem;
  margin-bottom: 4rem;
}
.lower-header {
  padding-top: 2rem;
}
.lower-header .header-icons {
  margin-bottom: 2rem;
}
.main {
  margin: 8rem 8rem 8rem 16rem;
}
.f-col {
  grid-column: 1/-1;
}
.time-welcome {
  font-size: 5rem;
  color: var(--accent-color);
  font-weight: 400;
  line-height: 0.4;
}
.welcome-text {
  font-size: 7rem;
  color: var(--main-color);
  font-weight: 500;
  margin-bottom: 2rem;
}
.bb {
  border-bottom: 2px solid #444;
}
.lower-main {
  margin-top: 5rem;
}
.col {
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 7rem 3rem;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}
.col:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.grid-section_text {
  font-size: 5rem;
  color: inherit;
  font-weight: 500;
}
.food {
  background-image: var(--main-color-grad), url(../../img/app/food.webp);
  color: var(--gray-color);
}
.transp {
  background-image: var(--accent-color-grad), url(../../img/app/tranp.webp);
  color: var(--white-color);
}
.doc {
  background-image: var(--accent-color-grad), url(../../img/app/doc.webp);
  color: var(--white-color);
}
.clean {
  background-image: var(--main-color-grad), url(../../img/app/other.webp);
  color: var(--gray-color);
}
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}
.modal {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  width: 35vw;
  height: 90vh;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
.close {
  position: absolute;
  right: 4rem;
  top: 3rem;
  font-size: 3rem;
  color: var(--gray-color);
  cursor: pointer;
  transition: 0.3s;
}
.close:hover {
  color: var(--accent-color);
}
.open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal .container {
  padding: 3.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.modal-bg {
  background-position: center bottom;
  background-size: cover;
}
.modal-title {
  margin-top: 5rem;
  font-size: 7rem;
  color: var(--main-color);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.imp {
  color: #dd2100;
  font-size: 3rem;
}
label {
  font-size: 3rem;
  color: var(--gray-color);
  letter-spacing: -0.5px;
}
.input {
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
  font-size: 2rem;
}
.modal .grid--2-col {
  grid-template-columns: 1fr 2fr;
}
.modal .grid {
  gap: 2rem;
}
.modal .main-btn {
  font-size: 3rem;
  padding: 1rem 8rem;
}
.other {
  background-image: var(--white-color-grad),
    url(../../img/app/modals/slika4.webp);
}
.food-m {
  background-image: var(--white-color-grad),
    url(../../img/app/modals/slika1.webp);
}
.prevoz {
  background-image: var(--white-color-grad),
    url(../../img/app/modals/slika2.webp);
}
.doc-m {
  background-image: var(--white-color-grad),
    url(../../img/app/modals/slika3.webp);
}
.success {
  font-size: 2rem;
  color: #66c873;
  opacity: 0;
  pointer-events: none;
}
.fail {
  font-size: 2rem;
  color: #f5465d;
  opacity: 0;
  pointer-events: none;
}
